.post-list-card-details {
  display: flex;
  padding: 1rem;

  .post-list-avatar {
    border-radius: 30px;
    height: 50px;
    margin: 0;
    width: 50px;
  }

  .post-list-card-meta {
    margin-left: 1rem;
    &-image {
      background-size: cover;
      width: 300px;
      min-width: 175px;
    }
    a {
      text-decoration: none;
    }

    h2 {
      font-family: Source Sans Pro, sans-serif;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.2;
      margin: 0;
      text-align: left !important;

      a {
        color: $main-font;
      }
    }
  }
}

@media (max-width: $breakpoint-m) {
  .post-list-card-details {
    .post-list-card-meta {
      h2 {
        font-size: 1.75rem;
        line-height: 1.25;
      }
    }
  }
}

@media (max-width: $breakpoint-s) {
  .post-list-card-details {
    .post-list-card-meta {
      font-size: 0.9em;
      &-image {
        display: none;
      }
      h2 {
        font-size: 1.25rem;
        line-height: 1.25;
      }
    }
  }
}
