.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  padding: 0 1rem;

  li {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      li {
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin: 0 0.5rem 0 0;
        padding: 0rem;
        width: auto;
        list-style: none;
      }
    }
  }
}

//** MEDIA QUERIES **//
@media (max-width: $breakpoint-m) {
  .blog-posts {
    padding: 0;
    li {
      h1 {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }
  }
}

@media (max-width: $breakpoint-s) {
  .blog-posts {
    padding: 0;
    li {
      h1 {
        font-size: 1rem;
        line-height: 1rem;
      }
    }
  }
}
