.postMeta {
  border-bottom: 3px $light-gray solid;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  p {
    color: $gray;
    font-size: 1rem;

    span {
      color: $primary-color;
      font-size: 1rem;
    }
  }
}
