.content {
    .date {
        display: flex;
        margin-bottom: 2rem;
        
        a {
            font-size: 1rem; 
        }

        p {
            font-family: sans-serif;
            font-size: 1rem;
            margin-bottom: 0px;
            padding: 10px 0px 0px 0px;

            &:after {
                content: "•";
                font-size: .8em;
                color: $primary-color;
                display: inline-block;
                margin: 0 .4em 0 .4em;
            }
        }
    }
}