@import 'components/_authorCard';
@import 'components/_commentsSection';
@import 'components/_postContent';
@import 'components/_postMeta';


.blog-post-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr auto;
    max-width: 66em;
    margin: auto;
    min-height: 100vh;
    padding: 0 1em;

    .content {
        border-bottom: 3px solid #e5e5e5;
        margin-bottom: 3rem;
        padding: 0 3rem 0 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

//** MEDIA QUERIES **//
@media (max-width: 1091px) {
    .blog-post-container {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem 0 1rem;

        .content { 
            padding: 0px;
        }
    }
}
  